@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

.container {
    border: 5px solid #000;
    height: 90px;
    padding-top: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background: #1a1a1a;
    color: #fff;
    border-radius: 7px;
}

form {
    display: inline-block;
}

p {
margin-top: 20px;
}

input {
margin-top: 5px;
padding:  4px 15px 4px 5px;
border: 2px solid black;
font: normal normal 13px/16px "Open sans", sans-serif;
}

#button{
    display: inline-block;
    background-color:#fff;
    color:#000;
    font-weight: bold;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
    padding: 5px 15px;
    }

#button:hover {
    cursor: pointer;
    opacity: .8;}
    ol {border: 1px solid #fff;}
    ol {padding-left: 20px;}
    ol li {padding: 5px;color:#fff;}
    ol li:nth-child(even)
    .strike{text-decoration: line-through;
    }
    
    li:hover {
        opacity: .5;
        color: #fff;
    }

body {
    justify-items: center;
    margin-top: 50px;
    font: normal normal 13px/16px "Open sans", sans-serif;
    background: #001542;
}

li {
    transition: opacity 0.5s ease, height 0.5s ease, padding 0.5s ease;
}

li.removendo {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}